<!DOCTYPE html>
<html>
<head>
  <title>Phrasal verbs</title>
  <style type="text/css">
    table, th, td {
      border-collapse: collapse;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Word</th>
        <th>Meaning</th>
        <th>Example</th>
        <th>Usage frequency</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% groups.each do |base, verbs| %>
        <tr><th><h3><%= base %></h3></th></tr>
        <% verbs.each do |verb| %>
          <tr>
            <td><%= verb.word %></td>
            <td><%= verb.meaning %></td>
            <td><%= verb.example %></td>
            <td><%= verb.frequency %></td>
            <td><%= verb.notes %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</body>
</html>
